* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0px;
    background-color: #000000;
}
#main {
    width: 100%;
    height: 100%;
}
.rightbox {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px white solid;
    width: 170px;
    color: white;
    height: 90px;
}

.leftbox {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px white solid;
    width: 170px;
    color: white;
    height: 190px;
}